# Environment file for development. Replace placeholders with real values.

# PostgreSQL/Neon Database URL
DATABASE_URL='postgresql://neondb_owner:npg_vIz0KP2bNMBc@ep-winter-surf-ae2njczu-pooler.c-2.us-east-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require'

SESSION_SECRET=pLEj07MeMkvmvWuVp8eJyfSv34XGXrLiTwDicKoRSJwZgNnZzzpX8EJbN/Dnynb0Zor+zhLKsKc0snq5dvNrSQ==

# Node.js Application Environment
NODE_ENV=production

# Add any other project-specific env vars such as:
# SECRET_KEY=your_secret_key
Port=5000

STACK_PROJECT_ID=eb04e940-25a6-4888-85b6-041d6fdcf015
STACK_PUBLISHABLE_CLIENT_KEY=pck_w1cnvcv21maxm8vg4f2am232ec5w89xvzy2wv3jpwdxmg
STACK_SECRET_SERVER_KEY=ssk_4bd969p158b3bt944xwrna6t4z1semds3pnpj9ckzkzdr

STRIPE_SECRET_KEY=Gs6LQVlDje6DKn2hazL29MdyC5E4ieTDxKKFHNvS5m90AqrrJDrmjxutT6X0nL3bU0008vb0chb

